<% @movies.each do |movie| %>
  <section class="movie">
    <div class="image">
      <%= image_tag movie.image_file_name %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to(movie.title, movie) %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
      <p>
        <%= link_to "Write Reviews", new_movie_review_path(movie), class: "reviews" %>
      </p>
    </div>
  </section>
<% end %>

<div>
  <%= link_to "Add New Movie", new_movie_path, class:"button" %>
</div>